@import 'tailwindcss';

@theme {
  --font-sans: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
